
body {
	background-image: url(images/background.png);
	background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:center;
}

.message{
	background-color: white;
    color:black;
	margin-left: 100px;
	margin-right: 1400px;
}

#acc{

	transform: scale(1);
	transition: 1s transform;
	background-color: #ffffff;
	color: black;
	padding: 20px;
	margin: 10px;
	border: 10px solid #C36BB0;
	border-radius: 40px;
	opacity: 0.9;
	box-shadow: 13px 13px 10px #713864;
	width: 700px;
	font-size: 30px;
	font-weight: 1200;	
}
form{

	transform: scale(1);
	transition: 1s transform;
	background-color: rgb(255, 255, 255);
	color: black;
	padding: 20px;
	margin: 10px;
	border: 10px solid #C36BB0;
	border-radius: 40px;
	opacity: 0.9;
	box-shadow: 13px 13px 10px #713864;
	width: 300px;
	font-size: 20px;
	font-weight: 500;

}
div{

	transform: scale(1);
	transition: 1s transform;
	background-color: rgb(0, 0, 0);
	color: green;
	padding: 20px;
	margin: 10px;
	border: 10px solid #C36BB0;
	border-radius: 40px;
	opacity: 0.9;
	box-shadow: 13px 13px 10px #713864;
	width: 500px;
	font-size: 20px;
	font-weight: 900;
}

#work{

	transform: scale(1);
	transition: 1s all;
	background-color: rgb(255, 255, 255);
	color: #000000;
	padding: 20px;
	margin: 10px;
	border: 10px solid #C36BB0;
	border-radius: 40px;
	opacity: 0.9;
	box-shadow: 13px 13px 10px #713864;
	width: 400px;
	font-size: 30px;
	font-weight: 1200;
}

#work:hover {
	transform: rotate(180deg)scale(1);
}

div:hover{
	transform: rotate(-350deg)scale(1);
}